@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
.about-container{
    background-color: #ffffff;
    height: auto;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
}
/*.-us-title-card-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 100vw;
    background: rgb(255, 255, 255);
   
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .-us-title-card-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vh;
        width: 100vw;
       
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .-us-title-card-service{
        height: 30vh;
        width: 100vw;
       
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .-us-title-card-service{
        height: 30vh;
        width: 100vw;
        
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .-us-title-card-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        width: 100vw;
        
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-us-title-card-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40vh;
        width: 100vw;
        background: rgb(228,228,228);
        background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
    }
}
*/
.about-details{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    height: 50vh;
    width:100vw;
    background-color: #ffffff;
    margin-top: 80px;
}



.Our-title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #f80f0f;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 15px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .Our-title{
        font-family: sans-serif;
        font-size: 45px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .Our-title{
        font-family: "Noto Sans", sans-serif;
        font-size: 25px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .Our-title{
        font-family:  sans-serif;
        font-size: 40px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .Our-title{
        font-family:  sans-serif;
        font-size: 65px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}

@media screen and (min-width:769px)and (max-width:1024px){
    .Our-title{
        font-family:sans-serif;
        font-size: 65px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 40px;
        padding-right: 15px;
    }
}


.Our-style{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #030a11d8;
    font-weight: bold;
    padding-left: 20px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .Our-style{
        font-family: sans-serif;
        font-size: 45px;
        color: #030a11d8;
        font-weight: 700;
        padding-left: 20px;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .Our-style{
        font-family: "Noto Sans", sans-serif;
        font-size: 25px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 10px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 40px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}

@media screen and (min-width:476px)and (max-width:768px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 65px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}

@media screen and (min-width:769px)and (max-width:1024px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 65px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}




.Service-provides{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Service-tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}



.-title-service-about{
    font-family:  sans-serif;;
    font-size: 22px;
    color: #f80f0f;
    padding-top: 15px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .-title-service-about{
        font-family:  sans-serif;;
        font-size: 32px;
        color: #f80f0f;
        padding-top: 15px;
        font-weight: 700;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .-title-service-about{
        font-family:'Rajdhani', sans-serif;;
        font-size: 18px;
        color: #f80f0f;
        padding-top: 15px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 20px;
        color: #f80f0f;
        padding-top: 15px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 25px;
        color: #f80f0f;
        padding-top: 15px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 32px;
        color: #f80f0f;
        padding-top: 15px;
    }
}


.about-title-Explore{
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    color: #030a11d8;
    font-weight: bold;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 24px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 22px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 23px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 30px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 35px;
        color: #030a11d8;
        font-weight: bold;
    }
}

.our-services-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.service-card-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width:30vw;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: aliceblue;
    margin-bottom: 20px;
    transition: transform 0.5s;
}
.service-card-details:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
@media screen and (min-width:1025px) and (max-width:1440px){
    .service-card-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width:27vw;
        background-color:#ffffff;
        margin-left: 50px;
        border-radius: 10px;
        border-color: aliceblue;
        margin-bottom: 20px;
        margin-top: 40px;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .service-card-details{
        height: auto;
        width: 80vw;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .service-card-details{
        height: auto;
        width: 80vw;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .service-card-details{
        height: auto;
        width: 43vw;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-card-details{
        height: auto;
        width: 30vw;
        margin-left: auto;
        margin-bottom: 20px;
    }
}
.services-card-images{
    height:60vh;
    width: 30vw;
    border-top-right-radius:8px ;
    border-top-left-radius:8px ;
}

@media screen and (min-width:1025px) and (max-width:1440px){
    .services-card-images{
        height:46vh;
        width: 27vw;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .services-card-images{
        height: 60vh;
        width: 80vw;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .services-card-images{
        height: 50vh;
        width: 80vw;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .services-card-images{
        height: 50vh;
        width: 43vw;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .services-card-images{
        height: 50vh;
        width: 30vw;
    }
}

.service-it-consultancy-style-1{
    display: flex;
   flex-direction: row;
   height: auto;
   width: 62vh;
   justify-content: center;
   align-items: center;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 26vw;
       padding-left: 9px;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 82vw;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 80vw;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 45vw;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 30vw;
       justify-content: center;
       align-items: center;
    }
}


.service-it-consultancy-style-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.-card-title-service{
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
    color: #0e1012fb;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 15px;
}

@media screen and (min-width:1025px) and (max-width:1440px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 21px;
        color: #0e1012fb;
        font-weight: 500;
        

    }
}
@media screen and (min-width:300px)and (max-width:365px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 18px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
        
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 22px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 19px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 21px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}

.service-card-description{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #707071fb;
    padding-left: 8px;
    text-align: justify;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .service-card-description{
        font-family: "Noto Sans", sans-serif;
        font-size: 15px;
        color: #707071fb;
        padding-left: 8px;
        text-align: justify;
    }
}

@media screen and (min-width:300px)and (max-width:365px){
    .service-card-description{
        font-family: "Noto Sans", sans-serif;
        font-size: 11px;
        color: #707071fb;
        padding-left: 4px;
        padding-right: 8px;
        text-align: justify;
        
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 14px;
        color: #707071fb;
        padding-left: 10px;
        
        
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 17px;
        color: #707071fb;
        padding: 10px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 17px;
        color: #707071fb;
        padding: 10px;
        
        
    }
}

.service-sec-container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.-Want-you-choose-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:40vh;
    width: 100vw;
    background-color: #1f1c1c;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:50vh;
        width: 100vw;
        margin-top: 30px;
        background-color: #1f1c1c;
    }
}
@media screen and (min-width:300px) and (max-width:365px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        height:30vh;
        width: 100vw;
        background-color: #1f1c1c;
        margin-top:20px;
    
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:25vh;
        width: 100vw;
        background-color: #1f1c1c;;
        margin-top: 20px;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        height:30vh;
        width: 100vw;
        background-color: #1f1c1c;
        margin-top:100px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        height:40vh;
        width: 100vw;
        background-color: #1f1c1c;
        margin-top:40px;
    }
}
.service-want-you-title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 28px;
    color: #faf5f5;
    padding-top: 25px;
    padding-left: 20px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .service-want-you-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 28px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
}
@media screen and (min-width:300px) and (max-width:365px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 12px;
        color: #faf5f5;
        padding-top: 18px;
        padding-left: 15px;
    }
    
}
@media screen and (min-width:366px) and (max-width:475px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 16px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
    
}
@media screen and (min-width:476px) and (max-width:768px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 20px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
    
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 28px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
}


.service-want-crack {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    margin-left: 200px;
  }
@media screen and (min-width:1025px) and (max-width:1440px){
    
  .service-want-crack {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    margin-left: 300px;
    background: transparent;
  }
  
}
@media screen and (min-width:300px) and (max-width:365px){
    
  .service-want-crack {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    height: 30px;
    width: 70px;
    margin-right: 10px;
    background: transparent;
  }
 

}

@media screen and (min-width:366px) and (max-width:475px){
    
  .service-want-crack {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    height: 35px;
    width: 80px;
    margin-right: 10px;
    background: transparent;
  }
 
}
@media screen and (min-width:476px) and (max-width:768px){
    
  .service-want-crack {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    margin-left: 100px;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    background: transparent;
  }
}
@media screen and (min-width:769px) and (max-width:1024px){
    
  .service-want-crack {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    margin-left: 150px;
    height: 60px;
    width: 180px;
    margin-right: 10px;
    background: transparent;
  }
}
.service-anchore {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: #f4f4f4;
    text-transform: uppercase;
  }
@media screen and (min-width:1025px) and (max-width:1440px){
    
    .service-anchore {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        color: #f4f4f4;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
    
  }
  @media screen and (min-width:300px) and (max-width:365px){
      
    .service-anchore {
        font-size: 0.8rem;
        padding: 1rem 1rem;
        color: #f4f4f4;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
   
  
  }
  
  @media screen and (min-width:366px) and (max-width:475px){
      
    .service-anchore {
        font-size: 0.9rem;
        padding: 0.4rem 0.3rem;
        color: #f4f4f4;
        text-transform: uppercase;
      }
   
  }
  @media screen and (min-width:476px) and (max-width:768px){
      
    .service-anchore {
        font-size: 1.2rem;
        padding: 1rem 1rem;
        color: #f4f4f4;
        text-transform: uppercase;
      }
  }
  @media screen and (min-width:769px) and (max-width:1024px){
      
    .service-anchore {
        font-size: 2rem;
        padding: 1rem 1.5rem;
        color: #f4f4f4;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
  }

  

  .service-btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .service-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .service-btn:hover:before {
    left: 100%;
  }
