@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
.about-container{
    background-color: #ffffff;
    height: auto;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
}
.-us-title-card-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 100vw;
    background: rgb(228,228,228);
    background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .-us-title-card-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40vh;
        width: 100vw;
        background: rgb(228,228,228);
        background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .-us-title-card-service{
        height: 30vh;
        width: 100vw;
        background: rgb(228,228,228);
        background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .-us-title-card-service{
        height: 30vh;
        width: 100vw;
        background: rgb(228,228,228);
        background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .-us-title-card-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        width: 100vw;
        background: rgb(228,228,228);
        background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-us-title-card-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45vh;
        width: 100vw;
        background: rgb(228,228,228);
        background: linear-gradient(90deg, rgba(228,228,228,1) 14%, rgba(255,255,255,1) 35%);
    }
}
.about-details{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    height: 50vh;
    width:100vw;
    background-color: #ffffff;
    margin-top: 80px;
}



.Our-title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #f80f0f;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 15px;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .Our-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 40px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .Our-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 35px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .Our-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 40px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .Our-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 65px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 15px;
    }
}

@media screen and (min-width:769px)and (max-width:1024px){
    .Our-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 65px;
        color: #f80f0f;
        font-weight: bold;
        padding-left: 40px;
        padding-right: 15px;
    }
}


.Our-style{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #030a11d8;
    font-weight: bold;
    padding-left: 20px;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 40px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 35px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 40px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}

@media screen and (min-width:476px)and (max-width:768px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 65px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}

@media screen and (min-width:769px)and (max-width:1024px){
    .Our-style{
        font-family: 'Rajdhani', sans-serif;
        font-size: 65px;
        color: #030a11d8;
        font-weight: bold;
        padding-left: 20px;
    }
}




.Service-provides{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Service-tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}



.-title-service-about{
    font-family: 'Rajdhani', sans-serif;;
    font-size: 22px;
    color: #f80f0f;
    padding-top: 15px;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 22px;
        color: #f80f0f;
        padding-top: 15px;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .-title-service-about{
        font-family:'Rajdhani', sans-serif;;
        font-size: 18px;
        color: #f80f0f;
        padding-top: 15px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 20px;
        color: #f80f0f;
        padding-top: 15px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 25px;
        color: #f80f0f;
        padding-top: 15px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-title-service-about{
        font-family: 'Rajdhani', sans-serif;;
        font-size: 32px;
        color: #f80f0f;
        padding-top: 15px;
    }
}


.about-title-Explore{
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    color: #030a11d8;
    font-weight: bold;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 24px;
        color: #030a11d8;
        font-weight: bold;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 22px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 23px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 30px;
        color: #030a11d8;
        font-weight: bold;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .about-title-Explore{
        font-family: 'Rajdhani', sans-serif;
        font-size: 35px;
        color: #030a11d8;
        font-weight: bold;
    }
}

.our-services-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.service-card-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width:30vw;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 10px;
    border-color: aliceblue;
    margin-bottom: 20px;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .service-card-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width:30vw;
        background-color: #ffffff;
        margin-left: 20px;
        border-radius: 10px;
        border-color: aliceblue;
        margin-bottom: 20px;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .service-card-details{
        height: auto;
        width: 100vw;
        margin-left: 5px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .service-card-details{
        height: auto;
        width: 100vw;
        margin-left: 5px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .service-card-details{
        height: auto;
        width: 45vw;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-card-details{
        height: auto;
        width: 31vw;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
.services-card-images{
    height:60vh;
    width: 30vw;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .services-card-images{
        height:60vh;
        width: 30vw;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .services-card-images{
        height: 80vh;
        width: 100vw;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .services-card-images{
        height: 100vh;
        width: 99vw;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .services-card-images{
        height: 80vh;
        width: 45vw;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .services-card-images{
        height: 50vh;
        width: 30vw;
    }
}

.service-it-consultancy-style-1{
    display: flex;
   flex-direction: row;
   height: auto;
   width: 62vh;
   justify-content: center;
   align-items: center;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 62vh;
       justify-content: center;
       align-items: center;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 100vw;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 100vw;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 45vw;
       justify-content: center;
       align-items: center;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-it-consultancy-style-1{
        display: flex;
       flex-direction: row;
       height: auto;
       width: 30vw;
       justify-content: center;
       align-items: center;
    }
}


.service-it-consultancy-style-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.-card-title-service{
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
    color: #0e1012fb;
    font-weight: bold;
    padding-top: 10px;
}

@media screen and (min-width:1025px) and (max-width:1440px){ 
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 12px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 10px;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 22px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 22px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 19px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-card-title-service{
        font-family: 'Rajdhani', sans-serif;
        font-size: 21px;
        color: #0e1012fb;
        font-weight: bold;
        padding-top: 15px;
    }
}

.service-card-description{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #707071fb;
    padding-left: 8px;
    text-align: justify;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .service-card-description{
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        color: #707071fb;
        padding-left: 8px;
        text-align: justify;
    }
                 
        }
@media screen and (min-width:300px)and (max-width:365px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 18px;
        color: #707071fb;
        padding-left: 10px;
        ;
        
    }
}
@media screen and (min-width:366px)and (max-width:475px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 17px;
        color: #707071fb;
        padding-left: 10px;
        
        
    }
}
@media screen and (min-width:476px)and (max-width:768px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 17px;
        color: #707071fb;
        padding: 10px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-card-description{
        font-family: 'Rajdhani', sans-serif;
        font-size: 17px;
        color: #707071fb;
        padding: 10px;
        
        
    }
}

.service-sec-container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.-Want-you-choose-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:40vh;
    width: 100vw;
    background-color: #8a9194e5;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:40vh;
        width: 100vw;
        background-color: #8a9194e5;
    }
                 
        }
@media screen and (min-width:300px) and (max-width:365px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        height:30vh;
        width: 100vw;
        background-color: #8a9194e5;
        margin-top:20px;
    
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:50vh;
        width: 100vw;
        background-color: #6e6e6e;;
        margin-top: 20px;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        height:30vh;
        width: 100vw;
        background-color: #6e6e6e;
        margin-top:100px;
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .-Want-you-choose-service{
        display: flex;
        flex-direction: column;
        height:40vh;
        width: 100vw;
        background-color: #6e6e6e;
        margin-top:40px;
    }
}
.service-want-you-title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 28px;
    color: #faf5f5;
    padding-top: 25px;
    padding-left: 20px;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .service-want-you-title{
        font-family: 'Rajdhani', sans-serif;
        font-size: 28px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
                 
        }
@media screen and (min-width:300px) and (max-width:365px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 12px;
        color: #faf5f5;
        padding-top: 18px;
        padding-left: 15px;
    }
    
}
@media screen and (min-width:366px) and (max-width:475px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 16px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
    
}
@media screen and (min-width:476px) and (max-width:768px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 20px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
    
}
@media screen and (min-width:769px)and (max-width:1024px){
    .service-want-you-title{
        font-family: Sans-serif;
        font-size: 28px;
        color: #faf5f5;
        padding-top: 25px;
        padding-left: 20px;
    }
}


.button-service{
    height:40px;
    width: 120px;
    text-align: center;
    background-color: #f50202;
    color: white;
    border-radius:25px ;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    border-color: #f50202;
    margin-left: 300px;
}
@media screen and (min-width:1025px) and (max-width:1440px){ 
    .button-service{
        height:40px;
        width: 120px;
        text-align: center;
        background-color: #f50202;
        color: white;
        border-radius:25px ;
        font-family: 'Rajdhani', sans-serif;
        font-size: 18px;
        border-color: #f50202;
        margin-left: 300px;
    }
                 
        }
@media screen and (min-width:300px) and (max-width:365px){
    .button-service{
        height: 30px;
        margin-left:10px;
        width: 70px;
        text-align: center;
        background-color: #f20101;
        color: white;
        border-radius:22px ;
        font-family: sans-serif;
        font-size: 11px;
        border-color: #f20101;
    }
    
}

@media screen and (min-width:366px) and (max-width:475px){
    .button-service{
        height: 33px;
        margin-left: 20px;
        width: 90px;
        text-align: center;
        background-color: #f20101;
        color: white;
        border-radius:22px ;
        font-family: sans-serif;
        font-size: 15px;
        border-color: #f20101;
    }
    
}
@media screen and (min-width:476px) and (max-width:768px){
    .button-service{
        height: 47px;
        margin-left: 200px;
        width: 120px;
        text-align: center;
        background-color: #f20101;
        color: white;
        border-radius:22px ;
        font-family: sans-serif;
        font-size: 22px;
        border-color: #f20101;
    }
    
}

@media screen and (min-width:769px)and (max-width:1024px){
    .button-service{
        height: 47px;
        margin-left: 200px;
        width: 120px;
        text-align: center;
        background-color: #f20101;
        color: white;
        border-radius:22px ;
        font-family: sans-serif;
        font-size: 22px;
        border-color: #f20101;
    }
}
